/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.iris {
    background-image: url("Images/controller-01.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.tester{
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.dave{
  transition: all 0.2s ease-in-out;
}

.dave:hover{
  transform: rotate(30deg);
  transition: all 0.5s ease-in-out;
}

.dave:active{
  transform: rotate(30deg);
  transition: all 0.5s ease-in-out;
}

.scaleUp{
  transition: all 0.5s ease-in-out;
}

.scaleUp:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.2,1.2);
}

.goRight{
  transition: all 0.5s ease-in-out;
}

.goRight:hover{
  transition: all 0.5s ease-in-out;
  transform: translate3d(5%,0,0);
}

.goLeft{
  transition: all 0.5s ease-in-out;
}

.goLeft:hover{
  transition: all 0.5s ease-in-out;
  transform: translate3d(-5%,0,0);
}





.whoosh{
  position: fixed;
  right: -75px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.whoosh.in-view{
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
   -webkit-transform: translate3d(-75px,0,0);
  transform: translate3d(-75px,0,0);
}


.banner {
  position: relative;
  overflow: hidden;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.banner__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}


.overlay{
  opacity.0.5;
}


/*Class for when element is above threshold*/
  .pin-top {
    position: relative;
  }

  /*/ Class for when element is below threshold*/
  .pin-bottom {
    position: fixed;/*changed this from relative to Fixed*/
	z-index: 2;
  }

  /*/ Class for when element is pinned*/
  .pinned {
    position: fixed !important;
  }















@media only screen and (max-width: 992px) {
  .overlay {
    display: none;
    background-color: #E1E1E1;
    opacity: 0.50;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
  }

  .fixed-action-btn ul {
    display: none;
  }

  .fixed-action-btn:hover ul {
    display: block;
  }

  .material-tooltip {
    display: none !important;
  }

  .mobile-fab-tip {
    position: fixed;
    bottom: 85px;
    padding: 7px 5px 4px 5px;
    text-align: left;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    opacity: 0;
  }

  .mobile-fab-tip{
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5.0s;
    -moz-animation-delay: 5.0s;
    -o-animation-delay: 5.0s;
    animation-delay: 5.0s;
    animation-duration: 10s;
  }
  @keyframes fadein {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
  @-o-keyframes fadein {
    /* Opera */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
    @keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-moz-keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-webkit-keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-o-keyframes fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
}


.mobile-fab-tip:hover{
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 1.0s;
    animation-duration: 10s;
  }
  @keyframes fadein {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
  @-o-keyframes fadein {
    /* Opera */
    0%,100%  { opacity: 0; }
    50% { opacity: 1; }
  }
    @keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-moz-keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-webkit-keyframes  fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
  @-o-keyframes fadeout {
    /* Opera */
    100% { opacity: 0; }
    0% { opacity: 1; }
  }
}

/*** Desktop Only Styles ***/
@media only screen and (min-width: 993px) {
  .mobile-fab-tip {
    display: none;
  }

  .overlay {
    display: none;
  }
}

























nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100%;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}